@use '../../../../theme.scss';

.chip-list-with-input {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: theme.padding(small);

  padding: theme.padding(medium);
  border: 1px solid theme.get-color(accent, darker);
  border-radius: theme.radius(medium);

  mat-chip-row {
    width: auto;
  }
}

.form-inputs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: theme.padding(small);

  input {
    @include theme.typography-level(body-2);
  }
}

#quantity {
  width: 4rem;
}

#units {
  width: 5rem;
}

#ingredient {
  width: 10rem;
}

.chip-and-option-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: theme.padding(small);
}

.add-new-ingredient-submit {
  width: 100%;
  margin: theme.padding(small) 0;
  @include theme.typography-level(body-2);
}

.add-alternative {
  height: theme.token-height();
  width: theme.token-height();
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}