<div class="chip-list-with-input">
	<ng-container *ngFor="let req of requirements">
		<app-ingredient-chip *ngIf="isIngredient(req)"
			[ingredient]="req"
			[removedCb]="remove()"
			[editedCb]="edit()">
			<button class="add-alternative"
				mat-mini-fab
				color="primary">
				<mat-icon>add</mat-icon>
			</button>
		</app-ingredient-chip>
		<app-option-chip-list *ngIf="isOption(req)"
			[option]="req"
			[removedCb]="remove(req)"
			[editedCb]="edit(req)">
		</app-option-chip-list>
	</ng-container>

	<form [formGroup]="form"
		(ngSubmit)="add()(form)"
		id="newIngredientForm">
		<div class="form-inputs">
			<mat-form-field id="quantity"
				color="accent">
				<input formControlName="quantity"
					matInput
					type="text"
					inputmode="numeric"
					placeholder="1">
			</mat-form-field>
			<mat-form-field color="accent"
				id="units">
				<input formControlName="units"
					matInput
					type="text"
					placeholder="Units">
			</mat-form-field>
			<mat-form-field color="accent"
				id="ingredient">
				<input formControlName="name"
					matInput
					type="text"
					placeholder="Ingredient">
			</mat-form-field>
		</div>
		<button class="add-new-ingredient-submit"
			mat-raised-button
			color="accent"
			type="submit">
			Add new ingredient
		</button>
	</form>
</div>
