@use 'sass:math';
@use '../../../theme.scss' as theme;

div {
  // Layout
  width: theme.token-height();
  height: theme.token-height();

  // Style
  border-radius: theme.radius("small");

  #circle {
    // Layout
    width: theme.token-height();
    height: theme.token-height();

    fill: theme.get-color(primary, lighter);
    ;
    stroke-width: 1px;
    stroke: theme.get-color(primary, darker);
  }

  #plus {
    stroke: theme.get-color(accent, default);
  }
}