<app-card [title]="habit.name"
	[editing]="editing"
	(titleChange)="rename($event)"
	class="habit">
	<div class="habit-recipe-rows">
		<div *ngFor="let recipeOrAlternatives of habit.recipes"
			class="habit-recipe-row">
			<ng-container *ngFor="let alternative of
		(isAlternatives(recipeOrAlternatives)
			? recipeOrAlternatives.alternatives
			: [recipeOrAlternatives]);
		last as isLast">
				<app-recipe-token [recipe]="alternative">
					{{alternative.name}}
				</app-recipe-token>
				<app-or-token *ngIf="!isLast"></app-or-token>
			</ng-container>
		</div>
	</div>
</app-card>
