@use '../../../theme.scss';

@function columnsFromSpan($span) {
  @return $span * 3;
}

.habit-recipe-rows-with-button {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: theme.padding(medium);
}

.habit-recipe-rows {
  display: flex;
  flex-flow: column nowrap;
  gap: theme.padding(medium);
}

.habit-recipe-row {
  display: flex;
  flex-flow: row wrap;
  gap: theme.padding(medium);
  align-items: center;
}

.settings-buttons div {
  display: flex;
  align-items: center;
  gap: theme.padding(large);

  app-settings-button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
}

app-recipe-token {
  cursor: pointer;
}