<mat-card>
	<div class="card-text-elements">
		<div *ngIf="recipe.title"
			class="card-header">
			<div class="card-header-contents">
				<h4 class="card-title">{{recipe.title}}</h4>
			</div>
		</div>
		<div class="card-body">
			<div class="ingredients-container">
				<h6 class="subtitle-1">Ingredients</h6>
				<ul class="ingredients">
					<li *ngFor="let item of recipe.items">
						{{item.options[0].name}}
					</li>
				</ul>
			</div>
			<div *ngIf="recipe.instructions"
				class="instructions-container">
				<h6 class="subtitle-1">Instructions</h6>
				<ol class="instructions">
					<li *ngFor="let instruction of recipe.instructions">{{instruction}}</li>
				</ol>
			</div>
		</div>
	</div>
	<div *ngIf="recipe.image"
		class="card-image">
		<img [attr.src]="recipe.image.url"
			[matTooltip]="recipe.image.caption"
			class="card-image">
	</div>
</mat-card>
