<mat-card>
	<div class="card-text-elements">
		<div *ngIf="recipe.title"
			class="card-header">
			<div class="card-header-contents">
				<h4 class="card-title">{{recipe.title}}</h4>
			</div>
		</div>
		<div class="card-body">
			<div class="ingredients-container">
				<h6 class="subtitle-1 body-section-header">Ingredients</h6>
				<app-ingredient-chip-list [requirements]="recipe.requirements"></app-ingredient-chip-list>
			</div>
			<div *ngIf="recipe.instructions"
				class="instructions-container">
				<h6 class="subtitle-1 body-section-header">Instructions</h6>
				<ol class="instructions">
					<li *ngFor="let instruction of recipe.instructions">{{instruction}}</li>
				</ol>
			</div>
		</div>
	</div>
	<div *ngIf="recipe.image"
		class="card-image">
		<img [attr.src]="recipe.image.url"
			[matTooltip]="recipe.image.caption"
			class="card-image">
	</div>
</mat-card>
