@use '../../../../theme.scss' as theme;

div {
  // Layout
  display: inline-flex;
  height: theme.token_height();
  padding: theme.padding("small");
  flex-direction: row;
  justify-content: center;
  align-items: center;

  // Style
  border-radius: theme.radius("small");
  background: theme.background();

  @include theme.typography-level(body-2);
}