@use '../../../../theme.scss';

div {
  // Layout
  display: inline-flex;
  height: var(--token_height);
  padding: var(--token_padding);
  flex-direction: row;
  justify-content: center;
  align-items: center;

  // Style
  border-radius: var(--token_radius);
  background: var(--Background);

  @include theme.body();
  font-style: italic;
  font-weight: 600;
}