<app-with-nav>
	<div class="recipes">
		<app-recipe [title]="'My first recipe'"
			[ingredients]="['bananas are so yummy i just really really really really love bananas', 'pineapples']"
			[instructions]="'Blend that shit'"
			[image]="'/assets/images/stir-fry.webp'"
			[caption]="'https://kristineskitchenblog.com/fish-tacos/'">
		</app-recipe>
		<app-recipe [title]="'My first recipe'"
			[ingredients]="['bananas are so yummy i just really really really really love bananas', 'pineapples']"
			[instructions]="'Blend that shit'"
			[image]="'/assets/images/stir-fry.webp'"
			[caption]="'https://kristineskitchenblog.com/fish-tacos/'">
		</app-recipe>
		<app-recipe [title]="'My first recipe'"
			[ingredients]="['bananas are so yummy i just really really really really love bananas', 'pineapples']"
			[instructions]="'Blend that shit'"
			[image]="'/assets/images/stir-fry.webp'"
			[caption]="'https://kristineskitchenblog.com/fish-tacos/'">
		</app-recipe>
		<app-recipe [title]="'My first recipe'"
			[ingredients]="['bananas are so yummy i just really really really really love bananas', 'pineapples']"
			[instructions]="'Blend that shit'"
			[image]="'/assets/images/stir-fry.webp'"
			[caption]="'https://kristineskitchenblog.com/fish-tacos/'">
		</app-recipe>
	</div>
</app-with-nav>
