@use '../ingredient-token/ingredient-token.component.scss';
@use '../../../../theme.scss' as theme;

div {
  // Style
  border: 1px solid theme.get-color(primary, darker);
  background: theme.get-color(primary, lighter);

  font-style: italic;
  font-weight: 600;
}