@use '../../../theme.scss';

.instruction {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header {
  width: 100%;
  padding-left: 10%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.title {
  @include theme.typography-level(headline-3);
  padding: theme.padding("large");
}

.instruction-text {
  @include theme.typography-level(body-2);
  padding: theme.padding("medium");
  width: 100%;
  max-width: 720px;
}