@use '../theme.scss' as theme;

$header-height: 10rem;
$footer-height: 5rem;

@mixin bar($height: 10rem, $color: theme.get-color(primary, default)) {
  height: $height;
  width: 100%;
  background-color: $color;
}

.vertical-centering-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
}

.horizontal-centering-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}


.title-bar {
  @include bar($header-height);
  padding: theme.app-body-padding();
}

.title-content {
  display: flex;
  flex-flow: row nowrap;
  column-gap: clamp(2rem, 10vw, 20rem);
  align-items: baseline;
}

.app-content {
  min-height: calc(100vh - $header-height - $footer-height);
  width: 100%;
  background-color: theme.background();
}

.centering-container {
  width: 100%;
  max-width: 1120px;
}

.footer {
  @include bar($footer-height);
}