@use '../../theme.scss' as theme;

.instructions {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;

  padding: theme.padding(large);

  #call-to-action {
    margin-top: theme.padding(large);
    @include theme.main-page-FAB();
  }
}

.line {
  height: 2.5rem;
  width: 0.125rem;
  background-color: theme.background();
}

.line:last-of-type {
  display: none;
}