@use '../../theme.scss' as theme;

.instructions {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: theme.surface();

  padding: theme.padding(large);

  #call-to-action {
    margin-top: theme.padding(large);
    @include theme.main-page-fab();
  }
}

.line {
  height: 5rem;
  width: 0.125rem;
  background-color: lighten(theme.on-surface(), 50%);
}

.line:last-of-type {
  display: none;
}