@use '../../../../theme.scss' as theme;

.number-container {
  position: relative;
}

svg {
  width: 72px;
  height: 72px;
}

#circle {
  fill: theme.get-color(accent, default);
}

#step-number {
  position: absolute;
  left: 22px;
  bottom: 10px;

  @include theme.typography-level(headline-2);
  font-weight: 700;
  font-size: 48px;
  color: theme.get-color(accent, default-contrast);
}