@use '../../../../theme.scss';

.ingredient-and-button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: theme.padding(small);
}

mat-chip-row {
  height: theme.token_height();
}