@use '../../../../../theme.scss';

.new-ingredient-form {
  display: flex;
  flex-flow: column nowrap;
  column-gap: theme.padding(small);
  width: 100%;

  input {
    @include theme.typography-level(body-2);
  }
}

.form-inputs {
  display: flex;
  flex-flow: row wrap;
}

#quantity {
  width: 4rem;
}

#units {
  width: 5rem;
}

#ingredient {
  flex-basis: 10rem;
  flex-grow: 1;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: theme.padding(small);
}

.add-new-ingredient-submit {
  width: 100%;
  margin: theme.padding(small) 0;
  @include theme.typography-level(body-2);
}

// Eliminates extra space underneath the input for a hint
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}