@use '../../../../theme.scss';

@mixin ingredient-list() {
  display: flex;
  flex-flow: column nowrap;
  gap: theme.padding(small);

  padding: theme.padding(medium);
  border: 1px solid theme.get-color(accent, darker);
  border-radius: theme.radius(medium);
}

.ingredient-list-with-input {
  @include ingredient-list();
  align-items: flex-start;
}

app-option {
  @include ingredient-list();
  align-items: stretch;
}

app-add-alternative {
  height: theme.token-height();
  width: theme.token-height();
  visibility: hidden;
}

app-ingredient:hover app-add-alternative {
  visibility: visible;
}

// Form styles

.form-inputs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: theme.padding(small);

  input {
    @include theme.typography-level(body-2);
  }
}

#quantity {
  width: 4rem;
}

#units {
  width: 5rem;
}

#ingredient {
  width: 10rem;
}

.add-new-ingredient-submit {
  width: 100%;
  margin: theme.padding(small) 0;
  @include theme.typography-level(body-2);
}

// Eliminates extra space underneath the input for a hint
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}