<div class="ingredient-list-with-input">
	<div class="ingredients-and-edit-button">
		<div class="ingredients">
			<ng-container *ngFor="let req of requirements; index as i">
				<app-ingredient *ngIf="isIngredient(req)"
					[ingredient]="req"
					[removedCb]="remove()"
					[editedCb]="edit()"
					[editing]="editing">
					<app-add-alternative *ngIf="editing"
						(click)="convertToOption(req)"></app-add-alternative>
				</app-ingredient>
				<app-option *ngIf="isOption(req)"
					[option]="req"
					[removedCb]="remove(req)"
					[editedCb]="edit(req)"
					[editing]="editing"
					[closeForm$]="closeFormsSub$.asObservable()"
					(newIngredient)="add(req)($event)"
					(revertToIngredient)="revertToIngredient(req)"
					(deleteOption)="deleteOption(req)">
				</app-option>
			</ng-container>
		</div>
		<app-edit-button *ngIf="!editing"
			(click)="setEditing(true)">
		</app-edit-button>
	</div>

	<app-add-ingredient-form *ngIf="editing"
		(newIngredient)="add()($event)"
		(close)="setEditing(false)">
	</app-add-ingredient-form>
</div>
