<div class="ingredient-list-with-input">
	<div class="ingredients-and-edit-button">
		<div class="ingredients">
			<ng-container *ngFor="let ingredient of ingredients; index as i">
				<app-ingredient *ngIf="isIngredient(ingredient)"
					[ingredient]="ingredient"
					[editing]="editing"
					(delete)="deleteIngredient(i)"
					(update)="updateIngredient(i)($event)">
					<app-add-alternative *ngIf="editing"
						(click)="convertToAlternatives(i)"></app-add-alternative>
				</app-ingredient>
				<app-ingredient-alternatives *ngIf="isAlternatives(ingredient)"
					[alternativesGroup]="ingredient"
					[editing]="editing"
					[closeForm$]="closeForms$.asObservable()"
					(delete)="deleteIngredient(i)"
					(update)="updateIngredient(i)($event)"
					(revertToIngredient)="revertToIngredient(i)">
				</app-ingredient-alternatives>
			</ng-container>
		</div>
	</div>

	<app-add-ingredient-form *ngIf="editing"
		(newIngredient)="addIngredient($event)">
	</app-add-ingredient-form>
</div>
