@use '../../../../theme.scss';

@mixin ingredient-list() {
  display: flex;
  flex-flow: column nowrap;
  gap: theme.padding(small);
}

.ingredient-list-with-input {
  @include ingredient-list();
  @include theme.outlined-group();
}

.ingredients-and-edit-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.ingredients {
  @include ingredient-list();
  align-items: flex-start;
}

app-add-alternative {
  height: theme.token-height();
  width: theme.token-height();
  visibility: hidden;
}

app-ingredient:hover app-add-alternative {
  visibility: visible;
}