<app-card [title]="group.name"
	[attr.span]="min(group.recipes.length, 4)"
	[editing]="editing"
	(titleChange)="changeTitle($event)"
	class="routine-group">
	<ng-template #settingsButtons>
		<div class="settings-buttons">
			<div>
				<app-settings-button (itemSelected)="menuItemSelected($event)"></app-settings-button>
			</div>
		</div>
	</ng-template>
	<div class="recipes-with-save-button">
		<div class="recipes">
			<ng-container *ngFor="let recipe of group.recipes; first as isFirst; last as isLast">
				<div class="recipe-with-delete-button">
					<app-routine-recipe [recipe]="recipe"
						[editing]="editing"
						(changeRecipe)="changeRecipe(recipe, $event)"></app-routine-recipe>
					<button *ngIf="editing"
						[class]="'warn' + (isFirst ? ' hidden' : '')"
						(click)="deleteAlternative(recipe)"
						mat-icon-button>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
				<app-or-token *ngIf="!isLast"></app-or-token>
				<app-add-alternative *ngIf="isLast && editing"
					(click)="addAlternative()"></app-add-alternative>
			</ng-container>
		</div>
		<button *ngIf="editing"
			(click)="setEditing(false)"
			mat-flat-button
			color="primary">
			Save
		</button>
	</div>
</app-card>
